.Courseworks {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Courseworks .courseTitle {
  text-align: center;
  color: #3e497a;
  font-size: 60px;
  font-weight: bolder;
}

.CourseList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Use repeat for grid columns */
  gap: 20px; /* Add some gap between grid items */
  place-items: center;
}

.CourseItem {
  border-radius: 15px;
  width: 300px;
  height: 300px;
  margin: 20px; /* Adjust margin */
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.CourseItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}
